/* Custom CSS for Settings Page */

.novac__settings_logo {
  align-items: center;
  justify-self: center;
  width: 250px;
  height: 24px;
}

// style={ { width: "250px", height: "150px", display: "block", marginLeft: "auto", marginRight: "auto" } }